@charset "UTF-8";

/* table1.css  
http://127.0.0.1:포트번호/컨텍스트패스/css/table1.css
http://127.0.0.1:8088/webPro/css/table1.css
*/

#table1 {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}


#table1 td, #table1 th {
  border: 1px solid #ddd;
  padding: 8px;
}

/*id가 table1요소의  후손요소중
   짝수tr번째 요소의 배경색 설정*/
#table1 tr:nth-child(even){background-color: #f2f2f2;}

/*id가 table1요소의  후손요소중 tr에 마우스가 올라가면 배경색 적용*/  
#table1 tr:hover {background-color: #ddd;}

#table1 th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}