@charset "UTF-8";
.ck-editor__editable { height: 320px; }
.ck-content { font-size: 12px; }
.form {center;}

.button {display:inline-block; height:35px; color:#fff; line-height:35px; padding:0 10px; background:#0b61b8; vertical-align:middle;  text-align:center; size :100px;}
.button:hover
.button:focus{border-color:#bdc7e0; background:#f3f6fd;}

.find-btn{
	width:100px;
	margin:auto;
}
.write_btn {
	display:inline-block; height:35px; color:#fff; line-height:35px; padding:0 10px; background:#0b61b8; vertical-align:middle;  text-align:center; size :100px;
}
.write_btn:hover
.write_btn:focus{border-color:#bdc7e0; background:#f3f6fd;}